# yaml-language-server: $schema=https://raw.githubusercontent.com/OAI/OpenAPI-Specification/refs/heads/gh-pages/oas/3.0/schema/2024-10-18
# TODO: https://github.com/redhat-developer/yaml-language-server/pull/1065

openapi: 3.0.1
info:
  title: Weather Forecast API
  description: Weather API application that allows users to subscribe to weather updates for their city.
  version: 1.0.0
servers:
  - url: http://weatherapi.app/api
  - url: https://weatherapi.app/api
tags:
  - name: weather
    description: Weather forecast operations
  - name: subscription
    description: Subscription management operations
paths:
  /weather:
    get:
      tags:
        - weather
      summary: Get current weather for a city
      description: Returns the current weather forecast for the specified city using WeatherAPI.com.
      operationId: getWeather
      parameters:
        - name: city
          in: query
          description: City name for weather forecast
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation - current weather forecast returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  temperature:
                    type: number
                    description: Current temperature
                  humidity:
                    type: number
                    description: Current humidity percentage
                  description:
                    type: string
                    description: Weather description
        "400":
          description: Invalid request
          content: {}
        "404":
          description: City not found
          content: {}
components:
  schemas:
    Weather:
      type: object
      properties:
        temperature:
          type: number
          description: Current temperature
        humidity:
          type: number
          description: Current humidity percentage
        description:
          type: string
          description: Weather description
x-original-swagger-version: "2.0"
